/* Reset */
:root {
    --main-color: #0075ff;
    --second-color: rgb(34, 33, 33);
    --primary-color-alt: #0366da;
    --green-color: #009688;
    --danger-color: darkred;
    --border-color: #ebebeb;
    --half-white: #bbd3f856;
    --second2-color: #009688;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

/* Layout */
.page {
    display: flex;
    min-height: 100vh;
    background-color: var(--half-white);
    position: relative;
}

section {
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.scroll {
    background-color: var(--main-color);
    color: white;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ================= Sidebar ================= */
.sidebar {
    background-color: white;
    padding: 20px;
    position: relative;
    width: 250px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.sidebar h2 {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.sidebar h2::before {
    content: "";
    background-color: black;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar h2::after {
    content: "";
    background-color: black;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: var(--main-color);
    color: white;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul span {
    font-size: 14px;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.content {
    width: 100%;
    overflow: hidden;
}

.content .head {
    padding: 5px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}

.content .head .search {
    position: relative;
    margin-left: 20px;
}

.content .head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.content .head input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: unset;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.content .head input:focus {
    width: 200px;
}


.content .head input:focus::placeholder {
    opacity: 0;
}

.content .head .icons {
    display: flex;
    align-items: center;
    position: relative;
}

.content .head .icons::before {
    content: '';
    position: absolute;
    top: 12%;
    left: 12%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.content .head img {
    max-width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 10px;
}

.page .content h1 {
    margin-bottom: 30px;
    position: relative;
    margin-left: 20px;
}

.page .content h1::before,
.page .content h1::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0%;
    bottom: -10px;
}

.page .content h1::before {
    width: 140px;
    background-color: white;
}

.page .content h1::after {
    width: 100px;
    background-color: var(--main-color);
}

.wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 0px 20px;
}

.w-section .container {
    position: relative;
    height: 100%;
}

.w-section .w-head {
    background-color: #ebeaea;
    padding: 20px 15px;
    height: 35%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.w-section .w-head .img-we {
    width: 200px;
    height: 100%;
}

.w-section .w-head p {
    margin-top: 5px;
    color: #686666;
}

.w-section .container .logo {
    position: absolute;
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    top: 25%;
}

.w-section .w-bot {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    padding: 20px 0px 10px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.w-section .w-bot .data {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.w-section .w-bot span {
    display: block;
    text-align: center;
}

.w-section .w-bot h3 {
    color: black;
}

.w-section .w-bot p {
    font-size: 14px;
    margin-top: 10px;
    color: #686666;
}

.w-section .btn {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.w-section .container .btn .pro {
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.targets {
    background-color: white;
    padding: 20px 15px;
    position: relative;

}


.targets h2 {
    margin-bottom: 7px;
}

.targets p {
    font-size: 14px;
    color: gray;
    margin-bottom: 7px;
}

.targets .mony {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;
    margin-bottom: 10px;
}

.targets .mony>span {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 174, 255, 0.342);
    height: 100%;
}

.targets .mony .span-2 {
    background-color: rgba(255, 166, 0, 0.37);
}

.targets .mony .span-2 i {
    color: orange;
}

.targets .mony .span-3 {
    background-color: rgba(0, 128, 0, 0.404);
}

.targets .mony .span-3 i {
    color: green;
}

.targets .mony span i {
    font-size: 28px;
    color: var(--main-color);
}

.targets .mony .price {
    width: 80%;
}


.targets .price .progress-1 {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 174, 255, 0.342);
}

.price .progress-1 span {
    display: block;
    width: 85%;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

.targets .price .progress-2 {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 166, 0, 0.37);
}

.price .progress-2 span {
    display: block;
    width: 55%;
    height: 100%;
    background-color: orange;
    position: relative;
}

.targets .price .progress-3 {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 128, 0, 0.404);
}

.price .progress-3 span {
    display: block;
    height: 100%;
    width: 70%;
    background-color: green;
    position: relative;
}

.price .progress-1 span::before,
.price .progress-2 span::before,
.price .progress-3 span::before {
    position: absolute;
    top: -35px;
    right: -5%;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.price .progress-1 span::before {
    content: attr(data-num);
    background-color: rgba(0, 174, 255, 0.342);
}

.price .progress-2 span::before {
    content: attr(data-num);
    background-color: rgba(255, 166, 0, 0.37);
}

.price .progress-3 span::before {
    content: attr(data-num);
    background-color: rgba(0, 128, 0, 0.404);
}

.tickets {
    padding: 15px;
    background-color: white;
    position: relative;
}

.tickets>h2 {
    margin-bottom: 5px;
}

.tickets>p {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.tickets .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}


.tickets .container .stats {
    margin-top: 25px;
    text-align: center;
    padding: 8px 0px;
    border: 1px solid #ccc;
}

.tickets .container .stats h2 {
    padding: 8px 0px;
}

.tickets .container .stats i {
    font-size: 32px;
}

.or {
    color: orange;
}

.bl {
    color: var(--main-color);
}

.gr {
    color: green;
}

.re {
    color: red;
}

.news {
    padding: 15px;
    background-color: white;
    position: relative;
}

.news .f-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.news .f-sec:not(:first-child) {
    border-top: 1px solid #ccc;
    margin-top: 5px;
}

.news .f-sec img {
    max-width: 110px;
    border-radius: 10px;
}

.news .f-sec .txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    text-align: center;
}

.news .txt p {
    font-size: 14px;
    margin-top: 5px;
    color: #686666;
}

.news .dys span {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 13px;
    text-align: center;
    width: 100px;
}