/* Reset */
:root {
    --main-color: #0075ff;
    --second-color: rgb(34, 33, 33);
    --primary-color-alt: #0366da;
    --green-color: #009688;
    --danger-color: darkred;
    --border-color: #ebebeb;
    --half-white: #bbd3f856;
    --second2-color: #009688;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

/* Layout */
.page {
    display: flex;
    min-height: 100vh;
    background-color: var(--half-white);
}

/* ================= Sidebar ================= */
.sidebar {
    background-color: white;
    padding: 20px;
    position: relative;
    width: 250px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.sidebar h2 {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.sidebar h2::before {
    content: "";
    background-color: black;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar h2::after {
    content: "";
    background-color: black;
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: var(--main-color);
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 5px;
    }

    .sidebar h2 {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .sidebar h2::before,
    .sidebar h2::after {
        display: none;
    }

    .sidebar a {
        padding: 5px;
    }

    .sidebar a span {
        display: none;
    }
}

.content {
    width: 100%;
}

.content .head {
    padding: 5px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
}

.content .head .search {
    position: relative;
}

.content .head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.content .head input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: unset;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.content .head input:focus {
    width: 200px;
}


.content .head input:focus::placeholder {
    opacity: 0;
}

.content .head .icons {
    display: flex;
    align-items: center;
}

.content .head img {
    max-width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 10px;
}

.page .content h1 {
    margin-bottom: 30px;
    position: relative;
}

.page .content h1::before,
.page .content h1::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0%;
    bottom: -10px;
}

.page .content h1::before {
    width: 140px;
    background-color: white;
}

.page .content h1::after {
    width: 100px;
    background-color: var(--main-color);
}

.w-section {
    width: 97%;
    height: 350px;
}

.w-section .container {
    position: relative;
    height: 100%;
}

.w-section .w-head {
    background-color: #ebeaea;
    padding: 20px 15px;
    height: 35%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.w-section .w-head p {
    margin-top: 5px;
    color: #686666;
}

.w-section img {
    position: absolute;
    max-width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    top: 25%;
}

.w-section .w-bot {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    padding: 20px 0px 10px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.w-section .w-bot .data {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.w-section .w-bot span {
    display: block;
    text-align: center;
}

.w-section .w-bot h3 {
    color: black;
    font-weight: normal;
}

.w-section .w-bot p {
    font-size: 14px;
    margin-top: 10px;
    color: #686666;
}

.w-section .btn {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.w-section .container .btn .pro {
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}