/* Reset */
:root {
    --main-color: rgb(3, 102, 72);
    --second-color: rgb(34, 33, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

/* Layout */
.page {
    display: flex;
    min-height: 100vh;
    background-color: rgb(19, 18, 18);
}

/* ================= Sidebar ================= */
.sidebar {
    background-color: rgb(34, 33, 33);
    padding: 20px;
    position: relative;
    width: 250px;
}

.sidebar h2 {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.sidebar h2::before {
    content: "";
    background-color: white;
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar h2::after {
    content: "";
    background-color: white;
    width: 12px;
    height: 12px;
    border: 4px solid rgb(34, 33, 33);
    border-radius: 50%;
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: var(--main-color);
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px;
    }

    .sidebar h2 {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .sidebar h2::before,
    .sidebar h2::after {
        display: none;
    }

    .sidebar a {
        padding: 5px;
    }

    .sidebar a span {
        display: none;
    }
}

.content {
    width: 100%;
}

.content .head {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content .head .search {
    position: relative;
}

.content .head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.content .head input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: unset;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.content .head input:focus {
    width: 200px;
}

.content .head input::placeholder {
    color: white;
}

.content .head input:focus::placeholder {
    opacity: 0;
}

.content .head .icons {
    display: flex;
    align-items: center;
}

.content .head img {
    max-width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 10px;
}

.page .content h1 {
    margin-left: 15px;
    margin-bottom: 30px;
    position: relative;
}

.page .content h1::before,
.page .content h1::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0%;
    bottom: -10px;
}

.page .content h1::before {
    width: 140px;
    background-color: white;
}

.page .content h1::after {
    width: 100px;
    background-color: var(--main-color);
}

.w-section {
    border-radius: 25px;
    width: 97%;
    margin: 0px auto;
}

.w-section .container {
    border-radius: 25px;
    overflow: hidden;
}

.w-section .w-head {
    background-color: var(--second-color);
    padding: 30px 15px;
    position: relative;
}

.w-section img {
    position: absolute;
    max-width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    bottom: -35px;
}

.w-section .w-head h2 {
    margin: 8px 0px;
    font-size: 32px;
}

.w-section .w-head p {
    margin: 10px 0px;
}

.w-section .w-bot {
    padding: 40px 0px;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-section .w-bot span {
    display: block;
    padding: 30px 15px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
    width: 310px;
}

.w-section .w-bot h3 {
    color: black;
    letter-spacing: 2px;
}

.w-section .w-bot p {
    color: #eee;
    font-size: 16px;
}

@media (max-width: 767px) {
    .w-section .w-bot {
        flex-direction: column;
    }

    .w-section .w-bot span:nth-child(1) {
        border-bottom: none;
    }

    .w-section .w-bot span:nth-child(2) {
        border: none;
    }

    .w-section .w-bot span:nth-child(3) {
        border-top: none;
    }
}